#game-container-1D {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/*1D Card */
.card {
  width: 800px;
  height: 800px;
  background-size: cover;
  background-position: center;
  margin-bottom: 20px;
}


/*Zone Page */
button {
  margin: 5px;
}

.body-zone {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
  /* margin-bottom: 1000px */
}

header {
  background-color: #333;
  color: white;
  padding: 2rem;
  text-align: center;
}

.main-image {
  width: 100%;
  max-width: 100%;
  display: block;
  margin: 0rem auto;
  transition: filter 0.3s;
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.grid-section {
  padding: 3rem 0;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  justify-content: center;
  margin: 0 auto;
  max-width: 1200px;
}

.grid-item {
  position: relative;
  overflow: hidden;
  cursor: pointer;
  width: 100%;
  min-width: 200px;
  height: 200px;
  border-radius: 10px; 
}

.grid-item img {
  width: 100%;
  height: 200px;
  min-width: 200px;
  display: block;
  transition: all 0.3s;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: all 0.3s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.overlay h3 {
  color: white;
  font-size: 2rem;
  margin: 0;
}

.overlay p {
  color: white;
  font-size: 1rem;
  margin: 0;
  margin-top: 0.5rem;
  text-align: left;
}

.text-wrapper {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 0.5rem;
  width: 100%;
}

.grid-item:hover {
  transform: translateY(-3px); /* Add this line to move the grid item slightly up on hover */
}

.grid-item:hover img {
  transform: scale(1.1);
  filter: blur(2px);
}

.grid-item:hover .overlay {
  opacity: 1;
}

.bottom-margin{
  margin: 100px;
}


/* Footer*/
.site-footer {
  background-color: #232222;
  color: #fff;
  padding: 1rem;
  text-align: center;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  opacity: 0;
  transition: opacity 0.3s;
}

.site-footer.show-footer {
  opacity: 1;
}

footer {
  background-color: #2e1c18;
  color: #fff;
  padding: 15px;
  text-align: center;
  font-size: 1rem;
  position: relative;
}


/* New CSS */
body, html {
  height: 100vh; /* Use viewport units to make it responsive to window size */
  background-image: url('../assets//images/BACKGROUND_UI2.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center -150px; /* Center the background image */
  background-color: #14205c; /* Set a background color */
  overflow: hidden; /* Hide scrollbars */
}

#game-container {
  position: relative; /* Keep as absolute */
  display: flex;
  flex-direction: row; /* Side by side alignment */
  align-items: center;
  width: 1400px;
  height: 820px;
  top: 20px; /* Center vertically, 50vh is half the viewport height and 410px is half the container height */
  left: 50%; /* Center horizontally */
  transform: translateX(-50%); /* Center horizontally with respect to its own size */
}

#game-table {
  position: relative;
  width: 500px;  /* Adjust width */
  height: 820px; /* Take full height of the parent */
  margin-left: 160px; /* Space between game-table and game-world */
  margin-right: 30px; /* Space between game-table and game-world */
}

#game-world {
  position: relative;
  width: 530px;
  height: 450px;
  top: -70px; 
  left: 2px;
}